/* You can add global styles to this file, and also import other style files */
@import "node_modules/infinite-menu/assets/InfiniteMenu/InfiniteMenu.css";

@font-face {
  font-family: Rubik;
  src: url(./assets/Fonts/Rubik.ttf);
}

body {
  font-family: Rubik;
}

.CreateGroupDrawerWrapper{
  width: 700px !important;
  max-width: 100vw;
}
