/CypherKeeperAPI/CypherKeeper/.vs/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.AuthLayer/bin/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.AuthLayer/obj/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.API/bin/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.API/obj/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.DataAccess/bin/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.DataAccess/obj/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.DataAccess.MongoDB/bin/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.DataAccess.MongoDB/obj/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.Manager/bin/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.Manager/obj/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.Model/bin/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.Model/obj/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.Utility/bin/
/CypherKeeperAPI/CypherKeeper/CypherKeeper.Utility/obj/
*.dll
