<div class="ImageSelectorContainer">
  <div class="UploadedImagesContainer">
    <ul class="ImagesContainer">
      <li class="Image-Wrap" *ngFor="let Image of CurrentUserImages">
        <img class="Image" [src]="Image.imageLink" alt="" (click)="ImageSelected(Image.imageLink)">
      </li>
    </ul>
  </div>
  <div class="UploadNewContainer">
    <button (click)="SelectFile()">+ New</button>
  </div>
</div>

<input type="file" #HiddenFileSelector style="display: none;"(change)="UploadFile($event)">
