<div style="display: flex; justify-content: flex-start;">
  <div>
    <div style="width: 300px;">
      <button nz-button nzType="primary" nzBlock (click)="_ShowCreateGroupDrawerForNullParent()">
        <div class="ContextMenuItemContainer">
          <div><span nz-icon nzType="plus" nzTheme="outline"></span></div>
          <div>Create New Group</div>
        </div>
      </button>
    </div>
    <div style="width: 300px; height: calc(100vh - 32px); overflow: auto; background-color: rgb(0, 21, 40)">
      <InfiniteMenu #InfiniteMenu [(MenuModel)]="AllGroups_IM_Data" [ShadeMultiplier]="2" [ShowOpenForAll]="false"
        [IconHeight]="'25px'" [IconWidth]="'25px'" [MenuStyles]="MenuStylesConstant" [Loading]="false"
        [ShowOnlyIcon]="false" (MenuItemOnContextMenu)="_MenuItemOnContextMenu($event, ContectMenuGroup)"
        (MenuSelected)="GroupSelected($event)">
      </InfiniteMenu>
    </div>
  </div>
  <ng-container *ngIf="SelectedGroup">
    <div style="width: calc(100vw - 300px); overflow: auto; height: 100vh;" *ngIf="!IsKeyOpen">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" nzXl="6" style="padding: 10px;">
          <nz-card nzHoverable style="width:100%" [nzCover]="CoverTemplate_NewKey" (click)="OpenKey(null)">
            <nz-card-meta nzTitle="New Key" nzDescription="Create New Key"></nz-card-meta>
          </nz-card>
          <ng-template #CoverTemplate_NewKey>
            <div
              style="background-color: rgb(233, 233, 233); display: flex; justify-content: center; padding: 10px 0px;">
              <img alt="example" src="https://i.imgur.com/MAPERzw.jpeg"
                style="height: 100px; aspect-ratio: 1/1; object-fit: contain;" />
            </div>
          </ng-template>
        </div>
        <div *ngFor="let Key of CurrentGroupKeys" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" nzXl="6" style="padding: 10px;">
          <nz-card nzHoverable style="width:100%" [nzCover]="CoverTemplate_NewKey" (click)="OpenKey(Key)" (contextmenu)="KeyContextMenu($event, Key, KeyContext)">
            <nz-card-meta [nzTitle]="Key.Name" [nzDescription]="Key.UserName"></nz-card-meta>
          </nz-card>
          <ng-template #CoverTemplate_NewKey>
            <div
              style="background-color: rgb(233, 233, 233); display: flex; justify-content: center; padding: 10px 0px;">
              <img alt="example" [src]="Get_Icon_By_WebSiteId(Key.WebsiteId)"
                style="height: 100px; aspect-ratio: 1/1; object-fit: contain;" />
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div style="width: calc(100vw - 300px); overflow: auto; height: 100vh;" *ngIf="IsKeyOpen">
      <key-component (OnBack)="CloseKey()" [CurrentKey]="OpenedKey" [CurrentGroup]="SelectedGroup"></key-component>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="this.CurrentContextGroupMenu">
  <nz-drawer [nzClosable]="true" [nzVisible]="ShowCreateGroupDrawer" nzPlacement="right"
    nzTitle="Create New Group - {{this.CurrentContextGroupMenu.Title}}" [nzMaskClosable]="true"
    (nzOnClose)="OnCloseCreateGroupDrawer()" [nzFooter]="CreateGroupDrawerFooterTpl"
    [nzBodyStyle]="{ overflow: 'auto' }" nzWrapClassName="CreateGroupDrawerWrapper">
    <ng-container *nzDrawerContent>
      <div style="padding-bottom: 10px;">
        <div>
          Group Name:
        </div>
        <div>
          <input nz-input type="text" [(ngModel)]="tbGroupsAddForm.name" />
        </div>
      </div>
      <div style="padding-bottom: 10px;">
        <div>
          Parent Group:
        </div>
        <div>
          <input nz-input type="text" [value]="this.CurrentContextGroupMenu.Title" [disabled]="true" />
        </div>
      </div>
      <div style="padding-bottom: 10px;">
        <div>
          Group Icon:
        </div>
        <div>
          <img *ngIf="SelectedIcon" [src]="SelectedIcon.link" class="SelectedIconIMG"><br>
          <button nz-button nzType="primary" (click)="SelectIconForAdd()">Select Icon</button>
        </div>
      </div>
    </ng-container>
    <ng-template #CreateGroupDrawerFooterTpl>
      <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="OnCloseCreateGroupDrawer()">Cancel</button>
        <button nz-button nzType="primary" (click)="SubmitCreateGroupDrawer()">Submit</button>
      </div>
    </ng-template>
  </nz-drawer>
</ng-container>

<nz-dropdown-menu #ContectMenuGroup="nzDropdownMenu">
  <div *ngIf="this.CurrentContextGroupMenu" class="ContectMenuGroupContainer">
    <div style="text-align: center; font-weight: bold; font-size: 15px; padding: 5px;">
      {{this.CurrentContextGroupMenu.Title}}
    </div>
    <div>
      <ul nz-menu>
        <li nz-menu-item (click)="_ShowCreateGroupDrawer()">
          <div class="ContextMenuItemContainer">
            <div><span nz-icon nzType="plus" nzTheme="outline"></span></div>
            <div>Create New Group</div>
          </div>
        </li>
        <li nz-menu-item (click)="DeleteGroup()">
          <div class="ContextMenuItemContainer">
            <div><span nz-icon nzType="delete" nzTheme="outline"></span></div>
            <div>Delete Group</div>
          </div>
        </li>
        <li nz-menu-item (click)="RenameGroupShowModal()">
          <div class="ContextMenuItemContainer">
            <div><span nz-icon nzType="edit" nzTheme="outline"></span></div>
            <div>Rename Group</div>
          </div>
        </li>
        <li nz-menu-item (click)="SelectIconForEdit()">
          <div class="ContextMenuItemContainer">
            <div><span nz-icon nzType="file-image" nzTheme="outline"></span></div>
            <div>Change Icon</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nz-dropdown-menu>


<nz-modal nzCentered [(nzVisible)]="SelectIconModalIsVisible" nzTitle="Select Icon"
  (nzOnCancel)="SelectIconModalIsVisibleHandleCancel()" [nzFooter]="null" nzWidth="90vw">
  <ng-container *nzModalContent>
    <div class="ImageSelectorContainer">
      <icon-selector (OnIconSelect)="IconSelected($event)"></icon-selector>
    </div>
  </ng-container>
</nz-modal>

<ng-container *ngIf="CurrentContextGroupMenu">
  <nz-modal [(nzVisible)]="RenameGroupModalIsVisible" nzTitle="Edit Group - {{CurrentContextGroupMenu.Title}}"
    (nzOnCancel)="RenameGroupModalHandleCancel()" (nzOnOk)="RenameGroupModalHandleOk()"
    [nzOkDisabled]="!RenamedGroupName">
    <ng-container *nzModalContent>
      <div>
        <div>
          Group Name:
        </div>
        <div>
          <input nz-input type="text" [(ngModel)]="RenamedGroupName" />
          <div *ngIf="!RenamedGroupName" style="color: red;">
            Please Enter New Group Name!!
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</ng-container>

<nz-dropdown-menu #KeyContext="nzDropdownMenu">
  <ng-container *ngIf="CurrentKeyContext">
    <ul nz-menu>
      <li nz-menu-item (click)="DublicateKey_Context()">Dublicate</li>
      <li nz-menu-item (click)="DeleteKey_Context()">Delete</li>
    </ul>
  </ng-container>
</nz-dropdown-menu>



