<div class="RegistrationContainer">
  <div style="font-size: 20px; font-weight: bold;">Registration</div>
  <form nz-form [formGroup]="_FormsService.RegisterForm" (ngSubmit)="RegisterSubmit()">
    <div style="margin: 10px 0px;">
      Username<br>
      <input nz-input formControlName="Username" id="Username" />
      <div>
        <ng-container *ngIf="_FormsService.RegisterForm.controls['Username'].hasError('required') && _FormsService.RegisterForm.controls['Username'].touched">Please Enter your Username</ng-container>
      </div>
    </div>
    <div style="margin: 10px 0px;">
      Password<br>
      <input nz-input formControlName="Password" id="Password" />
      <div>
        <ng-container *ngIf="_FormsService.RegisterForm.controls['Password'].hasError('required') && _FormsService.RegisterForm.controls['Password'].touched">Please Enter your Password</ng-container>
      </div>
    </div>
    <div style="margin: 10px 0px;">
      Email<br>
      <input nz-input formControlName="Email" id="Email" />
      <div>
        <ng-container *ngIf="_FormsService.RegisterForm.controls['Email'].hasError('required') && _FormsService.RegisterForm.controls['Email'].touched">Please Enter your Email</ng-container>
        <ng-container *ngIf="_FormsService.RegisterForm.controls['Email'].hasError('email') && _FormsService.RegisterForm.controls['Email'].touched">Invalid Email</ng-container>
      </div>
    </div>
    <div style="margin: 10px 0px;">
      FirstName<br>
      <input nz-input formControlName="FirstName" id="FirstName" />
      <div>
        <ng-container *ngIf="_FormsService.RegisterForm.controls['FirstName'].hasError('required') && _FormsService.RegisterForm.controls['FirstName'].touched">Please Enter your FirstName</ng-container>
      </div>
    </div>
    <div style="margin: 10px 0px;">
      LastName<br>
      <input nz-input formControlName="LastName" id="LastName" />
      <div>
        <ng-container *ngIf="_FormsService.RegisterForm.controls['LastName'].hasError('required') && _FormsService.RegisterForm.controls['LastName'].touched">Please Enter your LastName</ng-container>
      </div>
    </div>
    <button type="Submit">Submit</button>
  </form>
</div>


<div class="RegistrationContainer">
  <div style="font-size: 20px; font-weight: bold;">Login</div>
  <form nz-form [formGroup]="_FormsService.LoginForm" (ngSubmit)="LoginSubmit()">
    <div style="margin: 10px 0px;">
      Username<br>
      <input nz-input formControlName="Username" id="Username" />
      <div>
        <ng-container *ngIf="_FormsService.LoginForm.controls['Username'].hasError('required') && _FormsService.LoginForm.controls['Username'].touched">Please Enter your Username</ng-container>
      </div>
    </div>
    <div style="margin: 10px 0px;">
      Password<br>
      <input nz-input formControlName="Password" id="Password" />
      <div>
        <ng-container *ngIf="_FormsService.LoginForm.controls['Password'].hasError('required') && _FormsService.LoginForm.controls['Password'].touched">Please Enter your Password</ng-container>
      </div>
    </div>
    <button type="Submit">Submit</button>
  </form>
</div>